
  .first-body {
    height: auto;
    width: 60%;
    background-color: white;
    border-radius:20px;
    margin-top: 10px;
    margin-left: 14%;
    margin-right:14%;
    margin-bottom:10px;
    max-height:500px;
}

.first-body .left-images{
  margin:50px;
  height: 200px;
  width:240px;
}
.first-body .right-images {
      margin: 50px;
      height: 200px;
      width: 240px;
      float:right;
}
