table {
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    border-collapse: collapse;
}

th {
  background-color: #7FB3D5;
}

td{
    background-color: #c5e8ff;
}


#divEliminar {
    position: absolute;
    margin-left: 30%;
    display: none;
    width: 40%;
    border-radius: 20px;
    background-color: white;
    border: grey 2px solid;
}

#eliminar-div {
    display: block;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.btnModificarUsuarios {
    padding: 15px 15px;
    color: #33383b;
    background-color: #7FB3D5;
    border-radius: 15px;
    border-color: white;
    cursor: pointer;
    line-height: 1;
    float: right;
    background-color: #7FB3D5;
    /* background-color: #D2FFE2;*/
    border-radius: 10px;
}

    .btnModificarUsuarios:hover {
        background-color: #5499C7;
    }
.first-body {
    height: auto;
    width: 89.5%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3%;
    padding-right: 5%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap:wrap;
    padding-block:20px;
    justify-content:center;
    text-align:center;
    
}
#btnEliminarUsuarios {
    display: none;
    background-color: rgb(218, 142, 148);
}
.search-form-id{
    width:10%;
}
.search-form-id input {
    width: 90%;
    text-align:center;
}
.search-form, .search-form-id input {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.modificarUsuarios input {
    padding: 10px 10px;
    color: #33383b;
    /*background-color: #7FB3D5;*/
    border-radius: 15px;
    border-color: white;
    cursor: pointer;
    /*background-color: #D2FFE2;*/
     border-radius: 10px;
}
#eliminar,#modificar{
    display:none;
}
