@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

header {
    padding: 10px;
    text-align: center;
    background-image: src('images/header3.jpg');
    background-color: #D2FFE2;
    height: 200px;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #D0D3D4;
    /*    background: #f1f1f1;*/
}


nav {
    margin-top: 55px;
    background-color: #D2FFE2.0;
    background-attachment: fixed;
    margin-top: 55px;
}

nav a {
    color: black;
    text-align: center;
    padding: 15px 15px;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-weight: 800;
    margin: 0 10px;
    text-transform: uppercase;
    color: #aaa;
    /*background-color: darkgrey;
    opacity:80%;*/
  }
  nav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
}
nav a,
nav a:after,
nav a:before {
    transition: all .5s;
}
nav a:hover:after {
    width: 100%;
}
nav a:hover {
    color: #555;
}

/*nav a:hover {
    color: #1E8449;
  }
*/
#btnLogin {
    color: black;
    padding: 15px 15px;
    margin-top: -45px;
    line-height: 1;
    float: right;
    background-color: #7FB3D5;
    /* background-color: #D2FFE2;*/
    cursor: pointer;
    border-radius: 10px;
    border-color: #B3B6B7;
}

    #btnLogin:hover {
        background-color: #5499C7;
    }

  .footer{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px arial;
    padding: 55px 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer h3 span{
    color:  #5499C7;
  }
  
  /* Footer links */
  
  .footer .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer .footer-links a:hover{
    color: #5499C7;
  }
  
  .footer .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }


  
  /* Footer Center */
  
  .footer .footer-center{
    width: 35%;
  }
  
  .footer .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.email{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer .footer-center p a{
    color:  white;
    text-decoration: none;;
  }

  .footer .footer-center p a:hover{
    color:  #5499C7;
  }

  .footer .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer .footer-right{
    width: 20%;
  }
  
  .footer .infop{
    line-height: 20px;
    color:  #a7acaf;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .infop span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .footer-icons{
    margin-top: 25px;
  }
  
  .footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
#header {
    margin-top: 55px;
}
  .footer .footer-icons a:hover{
    color: #5499C7;
  }
  .btnNormal{
    padding: 15px 15px;
    color:#33383b;
    background-color: #7FB3D5;
    border-radius: 15px;
    border-color: white;
    cursor: pointer;
    line-height: 1;
    float: right;
    background-color: #7FB3D5;
    /* background-color: #D2FFE2;*/
    border-radius: 10px;

  }
  .btnNormal:hover{
    background-color: #5499C7;
  
  }
  .barraBotonesLink{
    display:inline-block;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 0px;
  }
  .menuBotones {
    height: 70px;
    width: 97.5%;
    background-color: white;
    border-radius: 30px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    display:inline-block;
  }
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer{
      font: bold 14px sans-serif;
    }
  
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer .footer-center i{
      margin-left: 0;
    }
  
  }
  
